@import "bootstrap.less";

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

@import "responsive.less";

@itemBorderColor: #ccc;

h1, h2, h3, h4, h5 {
    color: green;
}

#posts {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: @itemBorderColor;

    a {
        text-decoration: none;
        color: black;
    }

        a:hover {
            color: @linkColorHover;
        }

    .post {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: @itemBorderColor;
        padding-top: 10px;
        padding-bottom: 7px;
        // Inspired by http://line25.com/tutorials/how-to-create-a-cool-blog-post-date-icon-with-css
        .date.hidden-phone {
            .btn;
            width: 70px;
            height: 70px;
            font-family: Helvetica, sans-serif;
            text-align: center;
            font-size: 130%;
            color: @black;

            .day, .month, .year {
                display: block;
                margin-top: 4px;
            }

            .day {
                margin-top: 2px;
            }

            .year {
                .muted;
            }
        }

        .content {
            h1 {
                font-size: 120%;
                margin-top: 0;
                margin-bottom: 0;
                line-height: normal;
            }

            .date {
                .muted;
                margin-bottom: 1em;
            }

            .excerpt {
                color: @gray;
            }
        }
    }
}
